@font-face {
    font-family:"cuprum";
    src: url(../fonts/web/cuprum.woff2) format("woff2"),
         url(../fonts/web/cuprum.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:"cuprum";
    src:url(../fonts/web/cuprumbold.woff2) format("woff2"),
        url(../fonts/web/cuprumbold.woff) format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family:"cuprum";
    src: url(../fonts/web/cuprumitalic.woff2) format("woff2"),
         url(../fonts/web/cuprumitalic.woff) format("woff");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family:"cuprum";
    src: url(../fonts/web/cuprumbolditalic.woff2) format("woff2"),
         url(../fonts/web/cuprumbolditalic.woff) format("woff");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family:"ptsans";
    src: url(../fonts/web/ptsans.woff2) format("woff2"),
         url(../fonts/web/ptsans.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:"ptsans";
    src: url(/..fonts/web/ptsansbold.woff2) format("woff2"),
         url(/..fonts/web/ptsansbold.woff) format("woff");
    font-weight: bold;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;

    font-family:"cuprum", "Verdana", "Arial", "sans-serif";
    font-weight: 400;
    line-height: 24px;
    font-size: 13px;
    color:#000000;
    background-color: #ffffff;
}

a {
    color: inherit;
    text-decoration: none;

}


.search{
    font-family: "cuprum", "Verdana", "Arial", "sans-serif";
    font-size: 17px;
    background-color: transparent;
    vertical-align: middle;
    height: 42px;
    width: 270px;
    border: none;
    padding:0;
    padding-left: 48px;
}

.index-header .search:hover,
.index-header .search:focus{
    color:#000000;
}

.search::placeholder{
    color:#ffffff;
}
.search:hover::placeholder{
    color:#000000;
}

.header-top {
    background-color: #293449;
    vertical-align: middle;
}

.header-bot{
    font-size: 17px;
    background-color: #32425c;
    vertical-align: middle;
}

h1{
    padding-top: 5px;
    line-height: 23px;
    font-size: 16px;
    color: #ee3643;
    font-style: italic;

}

.logo{
    background-color: #ee3643;
}

.logo img{
    margin: 10px auto;
    
}
    

.h-right .header-make-order {
    background: #63a63e;
}

.h-right .header-make-order:hover,
.h-right .header-make-order:focus {
    background: #5fbb2d;
}

.h-right .header-make-order:active{
    color: rgba(255,255,255,0.5);
    background: #518534;

}

.header-location{
    color: #32425c;
    font-size: 14px;
}

.profile li{
    color: #000000;
    font-size: 21px;
}

.features{
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
}

.materials{
    background-color: #ffbf47 ;
}

.instruments{
    background-color:#3bbce3;
}

.techs{
    background-color: #dc91d8;
}

.sales{
    background-color: #8ed78f;
}

.delivery{
      background-color: #ffc047;
}

.features a{
    font-size: 14px;
    font-weight: 400;
}

main h2{
    font-size: 30px;
    color: #32425c;
}
.popular-goods-menu,
.popular-producers-menu{
    background-color: #f9f5f0;

}

.popular-goods-menu a,
.popular-producers-menu a{
    background-color: #ee3643;
    font-size: 14px;    
    color: #fde4e6;

}

.popular-goods{
    font-weight: bold;
    font-size: 17px;

}

.popular-goods h3{
    font-size: 18px;
    color: #000000;
}
.popular-goods del{
    color: #a9a9a9;
}

.popular-goods  div{
    box-shadow:;

}

.popular-goods ul div a:first-child{
    font-size:  14px;
    color:#eef4ec;
    background-color: #63a63e;
}

.popular-goods ul div a:last-child{
    font-size:  14px;
    color:#32425c;
    border: #63a63e 2px;
}
    
.company-info h3 {
    font-size: 30px;
    color:#000000;
}

.services{
    background-color: #f5f8fa;

}
.company-info li{
    font-size: 18px;
    line-height: 20px;
}

.footer-top{
    font-size: 18px;
    line-height: 24px; 
    background-color: #32425c;
}

.footer-bot{
    background-color: #293449;
    color: #ffffff;
    font-size: 16px;
    line-height: 18px;
}

.footer-location{
    color: #f3f7f9;
}

.footer-list-1 li{
    color: #f1f5f7;
}
.footer-list-2 li{
    color: #ffd180;
}

.footer-bot p a{
    color: #ffd180;
}

/* Сетка*/

html, body{
    margin: 0;
}

header li{
    list-style: none;
}

.index-header{
    background-color: #f4f7f9;
    padding-bottom:42px;  
}
    
.index-header p{
    margin: 0;

}

.index-header nav a{
    display: block;
    padding-left: 30px;
    padding-right: 30px;
}


nav a:hover{
    background: #293449;
}
  
nav a:active{
    background: #1d2739;
    color:rgba(255, 255, 255, 0.5);

}

.wrap{
    min-width: 940px; 
    max-width: 940px; 
    margin: auto; 
    padding: 0 10px;
} 

.header-top-wrapper {
    display: flex;
    justify-content: space-between;
}

.header-top a,
.header-top label,
.header-top input {
    line-height: 42px;
    color: white;

}

.header-top .h-left{
    display: flex;

}

.header-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}

.header-top-wrapper:hover,
.header-top-wrapper:focus{
    background-color: #212a3a;
}

.header-top-wrapper input:hover{
    background-color: #ffffff;
    
}

.h-left{
    display: flex;
    flex-wrap: wrap;
    line-height: 42px;
}

.h-left img{
    display: flex;
}

.h-right{
    font-size: 17px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    flex-direction: row;
    line-height: 42px;
}


.h-right a{
    box-sizing: border-box;
    display:block;
    text-align: center;
    width:150px;
}

.tabs,
.header-bin{
    padding-left: 14px;
}

.h-right:hover, 
.h-right:focus{ 
    background-color: #212a3a;
}

.h-right a:active{
    background-color: #161d29;
    color: rgba(255,255,255,0.5);
}

.logo{
    width: 220px;
    background-color: #ee3643;
}

.logo::before{
    position: absolute;
    width: 220px;
    height:42px;
    content: "";
    border-bottom: #b52933  solid 5px;

}

.logo:hover,
.logo:active{
    background-color: #ca2c37;
}

.logo:active{
    background-color: #ba2732;
}

.header-mid{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    margin-top:38px; 
    margin-bottom:33px; 
}


.header-mid .mid-block-1{
    margin: auto;
    text-align: left;
    width: 310px;

}

.header-mid .mid-block-2{
    margin: auto;
    width: 320px;
}

.header-mid .mid-block-2 p{
    margin-bottom: 5px;
}


.header-phone a{
    padding-left: 25px;
    margin-left:10px;
    margin-top: 7px;
    box-sizing: border-box;
    display: block;
    border:2px #ffffff solid;
    line-height: 42px;
    width: 270px;
    text-align: center;
    color: #ee3643;
    font-size: 21px;
    letter-spacing: 0.5px;
}

.mid-block-2 p:last-child{
    padding-right: 35px;
}

.header-mid .mid-block-3{
    box-sizing: border-box;
    padding:0;
    font-size: 23px;
    margin: auto;
    margin-top: 7px;
    width: 310px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.mid-block-3 a{
    display: block;
    background-color: #ffffff;
    line-height: 45px;

}

.mid-block-3 li{
    margin-left: 10px;
}

.mid-block-3 a:hover,
.mid-block-3 a:focus{
    color: #ee3643;
}

.mid-block-3 a:active{
    color: rgba(0, 0, 0, 0.3);
}

.enter{
    box-sizing: border-box;
    padding-left: 19px;
    width: 121px;
} 

.register{
    width: 150px;
} 



h1{
    width: 210px;
    margin: auto;
}


.header-bot ul{
    color: #ffffff;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    line-height: 60px;
    padding: 0px;
}

/*Main*/


.features-wrap{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    align-content: space-between;
    flex-wrap: wrap;
}

.features-item{
    width:300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;

}

.features div p{
    font-size: 24px;
}

.features-item p,
.features-item a
.features-item img{
    display: flex;
    
}


/*
.features .slide{
    display: flex;
    width: 620px;
    flex-grow: 1;
    -
*/

.slide{
    position: relative;
}

.slide-list {
    margin: 0;
    padding: 0;
    
    list-style: none;
}


.slide-item{
    display: none;
}

.slide-item:nth-child(1){
    display: block;
}

.slide-item h3{
font-size: 36px;
line-height: 36px;
font-weight: 700;

color: #293449;

margin: 0px;
margin-bottom: 8px;
max-width: 620px;
}
  
.slide-item p{
    max-width: 394px;
    margin: 0px;
    margin-bottom:63px;
}


.button {
    display: block;
    width: 240px;
    padding: 13px 0;

    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;

    background-color: #fb565a;
    border-radius: 3px;
    border: none;
}

.button:hover,
.button:focus {
    background-color: #ca2c37;
}

.button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #ba2732;
    box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}
  





.popular-goods-menu {
    display: flex;
    justify-content: space-between;
    
}
.popular-goods-menu p {

}

.popular-goods-menu .goods-list {
    width: 940px;
    margin: 20px auto;
    list-style: none;
}

.goods-list ul{

    padding: 0px;
}

.goods-item {
    position: relative;
    display: inline-block;
    width: 218px;
    margin-right: 10px;
    margin-bottom: 10px;
    
    line-height: 20px;
    font-family:"pt-sans", "Arial", "Arial Narrow", "sans-serif";
    font-weight: bold;
    text-align: center;
    
    border: 1px solid #ccc;
    
}

.goods-item .flag {
    position: absolute;
    top: -1px;
    right: -1px;

    width: 60px;
    height: 60px;

    text-indent: -1000px;
    overflow: hidden;
    z-index: 20;
}
  
.goods-item .flag-new {
    background: url("../img/new-flag.png") no-repeat 0 0;
}

.goods-item .actions {
    position: absolute;
    top: 0;
    left: 0;

    width: 218px;
    height: 88px;
    padding: 40px 0;

    background-color: rgba(255,255,255,0.9);
    z-index: 10;
}

.goods-item .actions .buy,
.goods-item .actions .bookmark{

    font-family: "Cuprum";
    color: white;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
      
    display: block;
    width: 129px;
    margin: 0 auto;
    margin-bottom: 7px;
    padding: 7px 0;
    
    background-color: #63a63e;
    border: 3px solid #63a63e;
    border-bottom-color: #367315;
}
  
.goods-item .actions a:last-child {
    color: #32425c;
    background: white;
    border-bottom-color: #63a63e;
}
  
.goods-item .actions {
    display: none;
}
  
.goods-item:hover .actions {
    display: block;

}

.goods-item .picture {
  width: 218px;
  height: 168px;
}

.goods-item .picture img {
  max-width: 100%;
}

.goods-item .picture {
    width: 218px;
    height: 168px;
}

.goods-item .picture img {
    max-width: 100%;
}
  
.goods-item .picture {
    width: 218px;
    height: 168px;
}
  
.goods-item .picture img {
    max-width: 100%;
}
 
.goods-item .name {
    min-height: 40px;
    padding: 0 25px;
    margin-top: 10px;
    margin-bottom: 15px;    
}
  
.goods-item .discount {
    min-height: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
    
    color: #aaaaaa;
}

.goods-item .price {
    position: relative;
    width: 80px;
    margin: 10px auto;
    margin-bottom: 20px;
    padding: 10px 30px;
    
    color: white;
    background: #ee3643;
    border-radius: 3px;
}

.goods-item .price:after {
    content: "";

    position: absolute;
    top: 0;
    right: -20px;

    width: 0;
    height: 0;

    border: 20px solid white;
    border-left-color: #ee3643;
}
  


.popular-producers{
    width: 940px;

}
.popular-producers-menu{
    display: flex;
    justify-content: space-between;
}


.popular-producers-menu p,
.popular-goods-menu p{
    margin-top: 25px;
    margin-right: 24px;
    margin-bottom: 26px;
    margin-left: auto;
}  
 
.popular-producers-menu h2{
    margin-left: 28px;
    margin-top: 33px;
    margin-bottom: 30px;
}

.popular-producers ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:flex-start;
}

.producers-item{
    list-style: none;
    margin: 10px 0;
    width: 220px;
    height: 145px;
}



.services p{
    font-family:"ptsans", "Arial", "Arial Narrow", "sans-serif";

}
.services li{
    list-style: none;
}

.delivery-wrapper{
    display: flex;
}

.company-info-wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.company-info-wrapper li{
    list-style:;
    font-size:18px;
    line-height:20px;
}

.company-info-wrapper p{
    display: block;
}

.company-column-1{
    display: flex;
    flex-direction: column;
    width: 535px;
}

.company-column-2{
    display: flex;
    flex-direction: column;
    width: 301px;
}


.footer-wrapper ul{
    display: flex;
    flex-wrap: wrap;

}


.footer-top .wrap{
    display: flex;
    justify-content: space-between;

}


.footer-column-1{
    width: 310px;
    display: flex;
    flex-direction: column;
}

.footer-column-2{
    display: flex;
    flex-direction:column;
    flex-grow: 1;
}

.footer-column-2 ul{
    display: flex;
    
}

.footer-list-1 li ,
.footer-list-2 li {
    list-style: none;
}

.footer-list-1 li a,
.footer-list-2 li a{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-list-1,
.footer-list-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-bot .wrap{
  display: flex; 
  justify-content: space-between;
}
.bot-item-2 li{
    display: flex;
}

.bot-item-2{
    display: flex;
}
.bot-item-2 a{
    display: block;
}
