@font-face {
    font-family:"cuprum";
    src: url(../fonts/web/cuprum.woff2) format("woff2"),
         url(../fonts/web/cuprum.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:"cuprum";
    src:url(../fonts/web/cuprumbold.woff2) format("woff2"),
        url(../fonts/web/cuprumbold.woff) format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family:"cuprum";
    src: url(../fonts/web/cuprumitalic.woff2) format("woff2"),
         url(../fonts/web/cuprumitalic.woff) format("woff");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family:"cuprum";
    src: url(../fonts/web/cuprumbolditalic.woff2) format("woff2"),
         url(../fonts/web/cuprumbolditalic.woff) format("woff");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family:"ptsans";
    src: url(../fonts/web/ptsans.woff2) format("woff2"),
         url(../fonts/web/ptsans.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:"ptsans";
    src: url(/..fonts/web/ptsansbold.woff2) format("woff2"),
         url(/..fonts/web/ptsansbold.woff) format("woff");
    font-weight: bold;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;

    font-family:"cuprum", "ptsans";
    font-weight: 400;
    line-height: 24px;
    font-size: 13px;
    color:#000000;
    background-color: #ffffff;
}

a {
    color: inherit;
    text-decoration: none;

  }

header{
    color: #ffffff;
    background-color:#f3f7f8;
}

.header-top {
    background-color: #293449;
    vertical-align: middle;
}

nav{
    background-color: #293449;
    vertical-align: middle;
    margin: 0 50;
}

h1{
   font-size: 16px;
   color: #ee3643;
   font-style: italic;

}

.logo{
background-color: #ee3643;

}


.header-make-order{
    background: #63a63e 5px 5px ;
}



.header-phone{
    color: #ee3643;
    font-size: 21px;
}

.header-location{
    color: #32425c;
    font-size: 14px;
}

.profile li{
    color: #000000;
    font-size: 21px;
}

.features{
    font-family:"cuprum";
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
}

.materials{
    background-color: #ffbf47 ;
}

.instruments{
    background-color:#3bbce3;
}

.techs{
    background-color: #dc91d8;
}

.sales{
    background-color: #8ed78f;
}

.delivery{
      background-color: #ffc047;
}

.features a{
    font-size: 14px;
    font-weight: 400;
}

main h2{
    font-size: 30px;
    color: #32425c;
}
.popular-goods-menu,
.popular-producers-menu{
    background-color: #f9f5f0;

}

.popular-goods-menu a,
.popular-producers-menu a{
    background-color: #ee3643;
    font-size: 14px;    
    color: #fde4e6;

}

.popular-goods{
    font-family: "ptsans";
    font-weight: bold;
    font-size: 17px;

}

.popular-goods h3{
    font-size: 18px;
    color: #000000;
}
.popular-goods del{
    color: #a9a9a9;
}

.popular-goods  div{
    box-shadow:;

}

.popular-goods ul div a:first-child{
    font-family: "cuprum";
    font-size:  14px;
    color:#eef4ec;
    background-color: #63a63e;
}

.popular-goods ul div a:last-child{
    font-family: "cuprum";
    font-size:  14px;
    color:#32425c;
    border: #63a63e 2px;
}
    
.company-info h3 {
    font-size: 30px;
    color:#000000;
}

.services{
    font-family: "ptsuns";
    background-color: #f5f8fa;

}
.company-info li{
    font-family: "cuprum";
    font-size: 18px;
    line-height: 20px;
}

.footer-top{
    font-size: 18px;
    line-height: 24px; 
    background-color: #32425c;
}

.footer-bot{
    background-color: #293449;
    color: #ffffff;
    font-size: 16px;
    line-height: 18px;
}

.footer-location{
    color: #f3f7f9;
}

.footer-list-1 li{
    color: #f1f5f7;
}
.footer-list-2 li{
    color: #ffd180;
}

.footer-bot p a{
    color: #ffd180;
}

/* Сетка*/

html, body{
    margin: 0;
}

header li{
list-style: none;

    
}
.wrap{
    width: 940px; 
    margin: auto; 
    padding: 0 10px;
} 

.header-top-wrapper {
    display: flex;
    justify-content: space-between;
}

.header-top a,
.header-top label,
.header-top input {
    line-height: 42px;
    color: white;

}

.header-top .h-left{
    display: flex;

}

.header-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}


.h-left{
    display: flex;
    line-height: 42px;
}

.h-right{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    line-height: 42px;
}


.h-right a{
display:block;
width:150px;

}
.logo{
    width: 220px;
    height: 42px;
    background-color: #ee3643;
}



.header-mid{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    height:160px; 
}


.header-mid .mid-block-1{
    width: 196px;
    margin: auto;
    text-align: left;
    width: 310px;

}

.header-mid .mid-block-2{
    width: 260px;
    margin: auto;
    width: 320px;
}


.header-mid .mid-block-3{
    width: 150px;
    margin: auto;
    width: 310px;
}

h1{
    width: 210px;
    margin: auto;
}



.header-bot ul{
    margin: auto; 
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    height: 60px;
    width: 940px;
}

/*Main*/


.features-wrap{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    align-content: space-between;
    flex-wrap: wrap;
}

.features-item{
    width:300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;

}

.features div p{
    font-size: 24px;
}

.features-item p,
.features-item a
.features-item img{
    display: flex;
    
}


.features .slides{
    display: flex;
    width: 620px;
    flex-grow: 1;
}







.popular-goods-menu {
    display: flex;
    justify-content: space-between;
    
}
.popular-goods-menu-menu h2{
    margin-left: 28px;
    margin-top: 33px;
    margin-bottom: 35px;
}
.goods-wrap ul{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    
}


.goods-wrap-item{
    width: 218px;
    margin-bottom: 20px;
    /*height: 170px;*/
    list-style: none;
}

.popular-producers{
    width: 940px;

}
.popular-producers-menu{
    display: flex;
    justify-content: space-between;
}
.popular-producers-menu h2{
    margin-left: 28px;
    margin-top: 33px;
    margin-bottom: 30px;
}

.popular-producers ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:flex-start;
}

.producers-item{
    list-style: none;
    margin: 10px 0;
    width: 220px;
    height: 145px;
}

.services h2{
    font-family:"cuprum";

}
.services p{
    font-family:"ptsans";

}
.services li{
    list-style: none;
}

.delivery-wrapper{
    display: flex;
}

.company-info-wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.company-info-wrapper li{
    list-style;
    font-size:18px;
    line-height:20px;
}

.company-info-wrapper p{
    display: block;
}

.company-column-1{
    display: flex;
    flex-direction: column;
    justify-content: ;
    width: 535px;
}

.company-column-2{
    display: flex;
    flex-direction: column;
    width: 301px;
}


.footer-wrapper ul{
    display: flex;
    flex-wrap: wrap;

}


.footer-top .wrap{
    display: flex;
    justify-content: space-between;

}


.footer-column-1{
    width: 310px;
    display: flex;
    flex-direction: column;
}

.footer-column-2{
    display: flex;
    flex-direction:column;
    flex-grow: 1;
}

.footer-column-2 ul{
    display: flex;
    
}

.footer-list-1 li ,
.footer-list-2 li {
    list-style: none;
}

.footer-list-1 li a,
.footer-list-2 li a{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-list-1,
.footer-list-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-bot .wrap{
  display: flex; 
  justify-content: space-between;
}
.bot-item-2 li{
    display: flex;
}

.bot-item-2{
    display: flex;
}
.bot-item-2 a{
    display: block;
}
